.menu {
    background-color: #f8f0e1;
    padding: 1rem;
    border-right: 1px solid black;
  
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
  
      li {
        margin-bottom: 1rem;
        
        background-color: #f5cb7f;
        display: flex;
        align-items:center;
        justify-content: center;
        padding: 5px;
        height: 20px;
        border-radius: 5px;

        &:hover {
            background-color: #e7a325;
        }
  
        a {
          text-decoration: none;
          color: black;
          font-weight: bold;
  
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }