.dashboard {
    display: flex;
    min-height: 100vh;
    max-width: 100%;
    overflow: auto;
    
    .content {
      flex: 1;
      padding: 2rem;
      background-color: #f8f6f2;
      overflow: auto;
      width: 100%;
  
      h1 {
        margin-bottom: 1.5rem;
      }
    }
  }